
# model cache
**/cached_models

**/datasets
# python cache
**/__pycache__/

# mac cache
._.DS_Store
.DS_Store
# mrc-for-flat-nested-ner/
back/
# dice_loss_for_NLP/datasets/
# dice_loss_for_NLP/cached_models/
# __pycache__/
