
# model cache
**/cached_models
**/cache
# python cache
# dice_loss_for_NLP/datasets/squad1
**/__pycache__/

**/cached_*
dice_loss_for_NLP/datasets/squad1/SQuAD-explorer

# mac cache
._.DS_Store
.DS_Store
# mrc-for-flat-nested-ner/
back/
# dice_loss_for_NLP/datasets/
# dice_loss_for_NLP/cached_models/
# __pycache__/
